<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8"/>
	<title>Service App</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="ApplicationController">

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">angular test</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<p ng-show="isLogin()" class="navbar-text">hi ~ {{getCurrentUser().id}}</p>
				<li><a ng-show="!isLogin()" ng-click="login()">登陆</a></li>
				<li><a ng-show="isLogin()" ng-click="logout()">退出</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<login-show></login-show>
<div >
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				<a ui-sref="home" class="list-group-item" ng-class="{active:urlActive('/home')}">home</a>
				<a ui-sref="list" class="list-group-item" ng-class="{active:urlActive('/list')}">列表</a>
				<a ui-sref="login" class="list-group-item" ng-class="{active:urlActive('/login')}">登录</a>
			</div>
		</div>
		<div ui-view=""></div>
	</div>
</div>

<!-外部依赖->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>
<script src="lib/angular-messages/angular-messages.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-内部依赖->
<script src="js/app.js"></script>
<script src="js/controllers/MyCtrl.js"></script>
<script src="js/services/MyService.js"></script>
<script src="js/directives/MyDirective.js"></script>
</body>
</html>
